
<head>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
    
<body>

    <h2>CS 290 Game</h2>
    <br>
    <p>The goal of this game is to test your web development skills. Each level is a diffrent obsticle that
        will require you to parse, modify, and find secrects in code.</p>
    <p>You will need rudementary understanding of html, css, javascript, databases, and more to reach the
        end.</p>
    <p>If you are stuck, check the console, but try to complete this without looking</p>
    <p>Good Luck</p>
    <br>
    <p>Name:</p>
    <input type="text" name="firstname" id="name" value="">
    <br><br>
    <button id="name-button" value="Submit">Submit</button>
</body>

<script src="/js/html_level.js"></script>
