<head>
  <meta charset="utf-8">
  <title>Its all about that style</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">


  <link rel="stylesheet" href="/css/l.css">
</head>

<body>

  <div>
    <span id="test" style="white-space:pre"></span>
  </div>
      <p class="link">https://sm.askmen.com/askmen_me/article/j/jim-chapma/jim-chapman-style-tips_zjm1.jpg</p>
      <p class="link">https://www.w3schools.com/html/html_css.asp</p>
      <p class="link">https://en.wikipedia.org/wiki/Style_guide</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">https://cdn.cliqueinc.com/cache/posts/215507/over-50-style-blogger-2072871-1486493964.700x0c.jpg</p>
      <p class="link">https://imgur.com/rIvZPbc</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">https://www.thecut.com/style/</p>
      <p class="link">https://en.wikipedia.org/wiki/Style</p>
      <p class="link">https://imgur.com/gF72Xn9</p>
      <p class="link">https://www.w3schools.com/css/css_howto.asp</p>
      <p class="link">https://cdn2.hercampus.com/fc5716d3-1182-480b-85c2-801eb4b9b3ce.jpg</p>
      <p class="link">https://www.w3schools.com/Html/html_styles.asp</p>
      <p class="link">https://www.ign.com/</p>
      <p class="link">https://scstylecaster.files.wordpress.com/2016/07/body-suits-street-style-feat.jpg</p>
      <p class="link">https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/style-and-beauty/style_beauty-hero-1260x600.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">https://en.oxforddictionaries.com/definition/style</p>
      <p class="link">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style</p>
      <p class="link">https://www.msn.com/en-us/lifestyle/style</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">http://www.amazon.com/dp/B01DBR53FU/?tag=097-20&ascsubtag=v7_1_3_g_2nhz_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/style-and-beauty/style_beauty-hero-1260x600.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">https://en.oxforddictionaries.com/definition/style</p>
      <p class="link">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style</p>
      <p class="link">https://www.msn.com/en-us/lifestyle/style</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">http://www.amazon.com/dp/B01DBR53FU/?tag=097-20&ascsubtag=v7_1_3_g_2nhz_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://www.w3schools.com/html/html_css.asp</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">https://en.wikipedia.org/wiki/Style_guide</p>
      <p class="link">http://www.amazon.com/dp/B007Q0OUSK/?tag=097-20&ascsubtag=v7_1_3_g_3n40_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://imgur.com/rIvZPbc</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">http://www.amazon.com/dp/B01DBR53FU/?tag=097-20&ascsubtag=v7_1_3_g_2nhz_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">http://www.amazon.com/dp/B007Q0OUSK/?tag=097-20&ascsubtag=v7_1_3_g_3n40_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style</p>
      <p class="link">https://www.msn.com/en-us/lifestyle/style</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">http://www.amazon.com/dp/B0758GKKGZ/?tag=097-20&ascsubtag=v7_1_3_g_3ttj_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">http://www.amazon.com/dp/B01DBR53FU/?tag=097-20&ascsubtag=v7_1_3_g_2nhz_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <!-- this link will lead you go to the next page, but you should find it frist-->
      <p class="linkNext"></p>
      
      <p class="link">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style</p>
      <p class="link">https://www.msn.com/en-us/lifestyle/style</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">https://www.ign.com/reviews/games</p>
      <p class="link">https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/style-and-beauty/style_beauty-hero-1260x600.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.ign.com/</p>
      <p class="link">https://scstylecaster.files.wordpress.com/2016/07/body-suits-street-style-feat.jpg</p>
      <p class="link">https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/style-and-beauty/style_beauty-hero-1260x600.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/l.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">https://www.thecut.com/style/</p>
      <p class="link">https://en.wikipedia.org/wiki/Style</p>
      <p class="link">https://imgur.com/gF72Xn9</p>
      <p class="link">https://www.w3schools.com/css/css_howto.asp</p>
      <p class="link">https://cdn2.hercampus.com/fc5716d3-1182-480b-85c2-801eb4b9b3ce.jpg</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
      <p class="link">https://www.w3schools.com/html/html_css.asp</p>
      <p class="linkBack">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/</p>
      <p class="link">https://en.wikipedia.org/wiki/Style_guide</p>
      <p class="link">https://imgur.com/rIvZPbc</p>
      <p class="link">http://www.amazon.com/dp/0963810952/?tag=097-20&ascsubtag=v7_1_3_g_1kxk_0_x01_-srt5-_exp.MsBNY0TGS0a2e5G6aZNPJgvar.1</p>
      <p class="link">https://cdn.thisiswhyimbroke.com/images/carolina-reaper-potato-chip-300x250.jpg</p>
      <p class="link">https://www.merriam-webster.com/dictionary/style</p>
      <p class="link">http://web.engr.oregonstate.edu/~millema5/cs290/final-project-best-team/c.html</p>
      <p class="link">https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBX9SlsLQ2uZE4kspoRC4AgNE9Du6yJpS5oHJ2LIQKEwlzdJ4c</p>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script>
    var typed = new Typed('#test', {
      strings:['$ give link ^1000\n`> ERR!`\n`> Detecting error!`\n^1000 `> Error: CSS file is not correct`\n `> ERR detected at l.css`'],
      typeSpeed: 40
    });
  </script>

</body>