<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" href="style.css">

<h2>CS 290 Game</h2>
<br>
    <form action="./c.html">
        <p id = "name">The goal of this game is to test your web development skills. Each level is a diffrent obsticle that will require you to parse, modify, and find secrects in code.</p>
        <p id = "name">You will need rudementary understanding of html, css, javascript, databases, and more to reach the end.</p>
        <p id = "name">If you are stuck, check the console, but try to complete this without looking</p>
        <p id = "name">Good Luck</p>
        <br>
        <p id = "name">Name:</p>
        <input type="text" name="firstname" id ="name" value="">
        <br><br>
        <input type="submit" id="name" value="Submit">
    </form>
</body> 
</html>
